.nav {
  background-color: #4c56a1;
  color: white;
  display: flex;
  align-items: center;
  flex: 0 1 40px;
}

.nav_title {
  margin: 0 auto;
  font-size: 15px;
}

.back_btn {
  background-color: #c5caec;
  color: #4c56a1;
  border-radius: 2rem;
  width: 50px;
  padding-left: 2px;
  margin-left: 10px;
  border: 0;
  outline: 0;
  height: 20px;
  align-items: center;
  font-size: 10px;
}

.back_btn:hover {
  background-color: #4000c7;
  color: white;
}