.nav {
    background-color: #3f00c73a;
}

.nav_title {
    padding: 1.4rem;
    text-align: center;
}

.back {
    background-color: #4000c7;
    color: #ffffff;
    border-radius: 2rem;
    width: 4rem;
    padding: 2px;
    margin-left: 10px;
}

.score {
    text-align: right;
}