.visual_container {
  width: 1200px;
  height: 560px;
}

.visual_sub_title {
  background-color: #4000c7;
  color: white;
  display: inline-block;
  text-align: center;
  width: 100px;
  margin-bottom: 0.2rem;
  border-radius: 7px 0 0 0;
}

.visual_third_title {
  background-color: #c5caec;
  display: inline-block;
  width: 100%;
}

.remote {
  height: 250px;
  margin: 10px;
  border: 1px solid #4000c7;
  border-radius: 8px;
}

.pair {
  border: 1px solid #c5caec;
  width: 98%;
  height: 100px;
  margin-bottom: 4px;
  margin-left: 10px;
  margin-right: 10px;
}

.origin {
  border: 1px solid #c5caec;
  width: 98%;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.local {
  border: 1px solid #4000c7;
  height: 300px;
  margin: 10px;
  border-radius: 8px;
}

.commit {
  height: 7rem;
}

.layout {
  display: flex;
}

.left {
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 10px;
}

.right {
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  width: 340px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.staging {
  border: 1px solid #c5caec;
  height: 70px;
  margin-bottom: 2px;
}

.untracked {
  border: 1px solid #c5caec;
  height: 70px;
}

.file {
  color: crimson;
}

.stash {
  border: 1px solid #c5caec;
  height: 142px;
}

.github_logo {
  margin-left: 47%;
  margin-top: 200px;
  margin-bottom: 250px;
}

svg {
  margin-left: 50px;
}

.show_commit {
  animation: boxFade 1s linear alternate;
}

.ch1_4 {
  position: fixed;
  margin-top: 295px;
}

.ch1_5 {
  position: fixed;
  margin-top: 295px;
}

.ch2_5 {
  position: fixed;
  margin-top: 58px;
}

.ch2_6 {
  position: fixed;
  margin-top: 445px;
}

@keyframes boxFade {
  0% {
   opacity: 0;
  }
  100% {
   opacity: 1;
  }
 }

 .push_commit {
   margin-left: 90px;
   margin-top: 15px;
 }